.main-colum{
    width: 450px;
    height: 500px;
    border: 2px solid $secondary-color;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: $main-font;
    border-radius: 4px;
    background-color: white;
    -webkit-box-shadow: 5px 6px 30px -16px rgba(128,123,128,0.73);
    -moz-box-shadow: 5px 6px 30px -16px rgba(128,123,128,0.73);
    box-shadow: 5px 6px 30px -16px rgba(128,123,128,0.73);

}
a {
    text-decoration: none; 
    color: inherit; 
  }
body{
    background-image: url("https://image.freepik.com/vector-gratis/diseno-patron-triangulo-minimo-colores-pastel_1017-14885.jpg");
}