//  FONTS

$main-font: 'Rubik', sans-serif;

$secondary-font: 'Karla', sans-serif;

// COLORS
$main-color: #E36588;
$secondary-color: #820B8A;
$third-color: #CB958E;
$button-color: #99EDCC;
$secondary-button-color: #9AC4F8;

// ICONS